* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', 'san-serif';
  background-color: #ebecef;
}

input {
  /* border: none; */
}

button {
  border: none;
  font-family: inherit;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;


}